{% extends 'listings/base.html' %}

{% load static %}

{% block content %}

<h1>Groupes</h1>

<a href="{% url 'band-create' %}">Créer un nouveau groupe</a>

<ul>
    {% for band in bands %}
        <li>
            <a href="{% url 'band-detail' band.id %}">{{ band.name }}</a>
            <a href="{% url 'band-update' band.id %}">
                <img class="icon" src="{% static 'listings/img/modifier.png' %}" alt="Modifier"
                title='Modifier'>
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}