{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Merchex</title>
        <link rel="stylesheet" type="text/css" href="{% static 'listings/styles.css' %}"/>
    </head>
    <body>

        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'listing-list' %}">Listings</a>
            <a href="{% url 'contact' %}">Contact</a>
            <a href="{% url 'about' %}">A propos</a>
        </nav>
        
        {% block content %}{% endblock %}

    </body>
</html>